<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Dangjogvara Bank</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="{{ url_for('index') }}">Dangjogvara Bank</a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav" id="navbar-active">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('client') }}">Clients</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('client_account', user_id=1) }}">My Account</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="m-4">{% block content %}{% endblock %}</main>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/activeLink.js') }}"></script>
  </body>
</html>
